@model IEnumerable<test.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Registered users</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            Is banned?
        </th>
        <th>
            Action:
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
       
        <td>
            @foreach (var temp in item.Roles)
            {
                <span>
                    @Html.DisplayFor(modelItem => temp.Name)
                </span>
            }
        </td>
        <td>
            @if (item.Roles.SingleOrDefault(u => u.Name == "banned") != null)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </td>
        <td>
            @if (item.Roles.SingleOrDefault(u => u.Name == "banned") != null)
            {
                @Html.ActionLink("Unban!", "UnBan",new { id=item.Id })
            }
            else
            {
                @Html.ActionLink("Ban!","Ban",new { id=item.Id })
            }
        </td>
    </tr>
}

</table>
